In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/golden-globe-awards/golden_globe_awards.csv

In [2]:
import pandas as pd
golden_globe_awards = pd.read_csv("../input/golden-globe-awards/golden_globe_awards.csv")
golden_globe_awards.describe()

         year_film   year_award     ceremony
count  7991.000000  7991.000000  7991.000000
mean   1987.490552  1988.490552    45.490552
std      18.936258    18.936258    18.936258
min    1943.000000  1944.000000     1.000000
25%    1972.000000  1973.000000    30.000000
50%    1988.000000  1989.000000    46.000000
75%    2004.000000  2005.000000    62.000000
max    2019.000000  2020.000000    77.000000